* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: green;
}
h1 {
  color: red;
  text-align: center;
  display: block;
  padding: 10px 60px;
  border: 2px solid black;
  background-color: lawngreen;
  border-radius: 5px;
}
.link-box {
  display: inline-block;
}
.link-box a {
  border-radius: 5px;
  background-color: lawngreen;
  color: black;
  outline: 2px;
  margin: 20px;
  padding: 20px;
}
.container {
  text-align: center;
}
#pokemonit {
  text-align: center;
}
#pokemon-stats {
  text-align: center;
  margin: 0px 500px;
  background-color: lawngreen;
  border-radius: 5px;
  border: 2px solid black;
}
a {
  display: flex;
  border-radius: 5px;
  border: 2px solid black;
  background-color: lawngreen;
  color: black;
  outline: 2px;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25); /* Soft shadow */
  transition: all 0.2s ease-in-out;
}
a:hover,
link-box a:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Stronger on hover */
  transform: translateY(-2px);
}
img {
  background-color: green;
  border-radius: 80px;
  width: 150px;
  height: 150px;
}
