<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feedback-support-nigga</title>
    <link rel="stylesheet" href="/includes/styles.css" />
  </head>
  <body>
    <h1>Testi</h1>
    <div>
      <table>
        <tr>
          <th>Date</th>
          <th>From</th>
          <th>Feedback</th>
        </tr>
        <% for (const row of rows) { %>
        <tr>
          <td><%= row.arrived %></td>
          <td><%= row.guest_name %> (<%= row.guest_email %>)</td>
          <td><%= row.feedback %></td>
        </tr>
        <% } %>
      </table>
    </div>    
  </body>
</html>
