<%- include('osapohjat/header.ejs'); %>
    <h1>Pokedex</h1>
    <div id="pokemonit">
      <% for (let pokemon of pokemons) { %>
      <div class="pokemon">
        <a href="/pokemon/<%= pokemon.name %>"><%= pokemon.name %></a>
      </div>
      <% } %>
    </div>
<%- include('osapohjat/footer.ejs'); %>
