<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokedex</title>
    <link rel="stylesheet" href="/includes/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Pokedex</h1>
      <div class="link-box"><a href="/sukupolvi/1">I</a></div>
      <div class="link-box"><a href="/sukupolvi/2">II</a></div>
      <div class="link-box"><a href="/sukupolvi/3">III</a></div>
      <div class="link-box"><a href="/sukupolvi/4">IV</a></div>
      <div class="link-box"><a href="/sukupolvi/5">V</a></div>
      <div class="link-box"><a href="/sukupolvi/6">VI</a></div>
      <div class="link-box"><a href="/sukupolvi/7">VII</a></div>
      <div class="link-box"><a href="/sukupolvi/8">VIII</a></div>
      <div class="link-box"><a href="/sukupolvi/9">IX</a></div>
    </div>
  </body>
</html>
